.f32 .flag{display:inline-block;height:32px;width:32px;vertical-align:text-top;line-height:32px;background:url(../images/flags.png) no-repeat;}
.f32 .africa{background-position:0 -32px;}
.f32 .america{background-position:0 -64px;}
.f32 .europe{background-position:0 -224px;}
.f32 .north-america{background-position:0 -96px;}
.f32 .caribbean{background-position:0 -128px;}
.f32 .central-america{background-position:0 -160px;}
.f32 .south-america{background-position:0 -192px;}
.f32 .east-europe{background-position:0 -256px;}
.f32 .north-europe{background-position:0 -288px;}
.f32 .west-europe{background-position:0 -320px;}
.f32 .south-europe{background-position:0 -352px;}
.f32 .africa{background-position:0 -384px;}
.f32 .east-africa{background-position:0 -416px;}
.f32 .north-africa{background-position:0 -448px;}
.f32 .west-africa{background-position:0 -480px;}
.f32 .middle-africa{background-position:0 -512px;}
.f32 .south-africa{background-position:0 -544px;}
.f32 .asia{background-position:0 -576px;}
.f32 .east-asia{background-position:0 -608px;}
.f32 .south-east-asia{background-position:0 -640px;}
.f32 .south-central-asia{background-position:0 -672px;}
.f32 .japan{background-position:0 -704px;}
.f32 .west-asia{background-position:0 -736px;}
.f32 .oceania{background-position:0 -768px;}
.f32 .australia-newzealand{background-position:0 -800px;}
.f32 .melanesia{background-position:0 -832px;}
